<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews.</title>
</head>
<body>
    <h2>Send your feedback!</h2>
    <form action="http://192.168.1.9:80/reviews" method="POST">
        <label for="name">Enter your name: </label>
        <input type="text" id="name" name="name">
        <br>
        <label for="message">Enter your message: </label>
        <input type="text" id="message" name="message">
        <br>
        <button type="submit">Confirm.</button>
    </form>

</body>
</html>